.notfound {
  background-color: rgb(255, 193, 7);
  border: 1px solid rgb(255, 193, 7);
  border-radius: 3px;
  padding: 2px;
}
.zettel {
  border: 1px solid rgb(0, 123, 255);
  border-radius: 3px;
  padding: 5px;
  margin: 2px;
}
.zettel a {
  text-decoration: none;
}
.zettel a:hover {
  text-decoration: none;
}
#markdown-body img {
  max-width: 100%;
}

.comment {
  display: inline-block;
  padding: 0em 0.5em 0em 0.5em;
  margin: 0.1em;
  border: 0px solid #ccc;
  border-radius: 0.5em;
  background-color: var(--color-prettylights-syntax-comment);
  color: var(--color-canvas-default);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  font-style: italic;
}

u {
  text-decoration: none;
  border-bottom: 0.8px dotted #f00;
}

.this_tag {
  color: yellow;
  background-color: slateblue;
  font-weight: 900;
}
